# notes:
* removed some old, redudant analysis code; it remains in coal-map-2020 notebook
* updated code to calculate TWh and CO2 estimates per plant, using Ember data
* updated code to show "EU27+UK" instead of "EU28"
* analysis code hopefully more clearly laid out to quickly furnish data for article and charts

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import pyproj
import re
import os, math
os.chdir('/Users/simon/Desktop/coal-map/')
%matplotlib inline

# Import the data and tidy up

## import data

In [800]:
####### ENTER THE NAME OF THE SPREADSHEET HERE #########
name = 'January 2021 Global Coal Plant Tracker'

# load the data from the "Units" tab of the spreadsheet
df = pd.read_excel(name + '.xlsx', sheet_name='Units', encoding='utf-8')

In [801]:
####################################################################
# need to update the year flag below to the current year
####################################################################

current_year = 2021  # this is the year the data was published
current_year

2021

In [802]:
# rename some columns to match last year's data

df.rename(columns={'Year':'Start Year','RETIRED':'Retire Year'}, inplace=True)

# change status entries from "Pre-Permit" to "Pre-permit" to match last year
# make sure other status capitalised

df['Status'].replace('Pre-Permit','Pre-permit', inplace=True)
df['Status'].replace('Pre-permit ','Pre-permit', inplace=True)
df['Status'].replace('operating','Operating', inplace=True)
df['Status'].replace('construction','Construction', inplace=True)
df['Status'].replace('shelved','Shelved', inplace=True)
df['Status'].replace('announced','Announced', inplace=True)
df['Status'].replace('cancelled','Cancelled', inplace=True)
df['Status'].replace('Cancelled ','Cancelled', inplace=True)
df['Status'].replace('retired','Retired', inplace=True)
df['Status'].replace('permitted','Permitted', inplace=True)

In [803]:
# make a copy to use for analysis

df2 = df

In [804]:
df.Status.unique()

array(['Cancelled', 'Mothballed', 'Shelved', 'Operating', 'Retired',
       'Pre-permit', 'Announced', 'Construction', 'Permitted'],
      dtype=object)

## sort out start years

In [805]:
# find units with start years that are decades not years

values = [(df['Capacity (MW)'].loc[(df['Start Year']=='1960\'s')|(df['Start Year']=='1970\'s')|(df['Start Year']=='1980\'s')|(df['Start Year']=='1990\'s')].sum()),'MW with start year of 60s/70s/80s/90s']
print(*values) 
values = [(df['Capacity (MW)'].loc[(df['Start Year']=='1960\'s')|(df['Start Year']=='1970\'s')|(df['Start Year']=='1980\'s')|(df['Start Year']=='1990\'s')].count()), ' units with start year of 60s/70s/80s/90s']
print(*values) 

# database has been updated so these start years are no longer used

0.0 MW with start year of 60s/70s/80s/90s
0  units with start year of 60s/70s/80s/90s

In [806]:
# assign start years for retired plants marked by decade

df['Start Year'].replace('1960\'s', '1965', inplace=True)
df['Start Year'].replace('1960s', '1965', inplace=True)
df['Start Year'].replace('1970\'s', '1975', inplace=True)
df['Start Year'].replace('1970s', '1975', inplace=True)
df['Start Year'].replace('1980\'s', '1985', inplace=True)
df['Start Year'].replace('1980s', '1985', inplace=True)
df['Start Year'].replace('1990\'s', '1995', inplace=True)
df['Start Year'].replace('1990s', '1995', inplace=True)

In [807]:
# convert Start Years and Capacity (MW) to numeric

df['Start Year'] = df[['Start Year']].apply(
    pd.to_numeric, errors='coerce')
df['Capacity (MW)'] = df[['Capacity (MW)']].apply(
    pd.to_numeric, errors='coerce')

## write file with missing data

In [808]:
# write info on missing data to a text file
# create the file

#date = name.replace('Global Coal Plant Tracker ','')

# make sure to update the filename, here Apr 2021

# write to the file
with open('Apr 2021' + '_missing_values.txt', 'w') as f:
    f.write('\n' + str(df['Unit'].loc[df['Capacity (MW)'].isnull()].count()) +
            ' units with no capacity data')
    f.write('\n\n' + str(df['Unit'].loc[df['Latitude'].isnull()].count()) +
            ' units (' + str(df['Capacity (MW)'].loc[df['Latitude'].isnull()]
                             .sum()) + ' MW) with no location data')
    f.write('\n\n' + str(df['Unit'].loc[(df['Latitude'].isnull()) & (
        df['Status'] == 'Operating')].count()) + ' operating units (' +
            str(df['Capacity (MW)'].loc[(df['Latitude'].isnull()) & (
                df['Status'] == 'Operating')].sum()) + ' MW) with no location')
    f.write('\n' + str(df['Unit'].loc[(df['Latitude'].isnull()) & (
        df['Status'] == 'Retired')].count()) + ' retired units (' +
            str(df['Capacity (MW)'].loc[(df['Latitude'].isnull()) & (
                df['Status'] == 'Retired')].sum()) + ' MW) with no location')
    f.write('\n' + str(df['Unit'].loc[(df['Latitude'].isnull()) & (
        df['Status'] == 'Announced')].count()) + ' announced units (' +
            str(df['Capacity (MW)'].loc[(df['Latitude'].isnull()) & (
                df['Status'] == 'Announced')].sum()) + ' MW) with no location')
    f.write('\n' + str(df['Unit'].loc[(df['Latitude'].isnull()) & (
        df['Status'] == 'Shelved')].count()) + ' shelved units (' +
            str(df['Capacity (MW)'].loc[(df['Latitude'].isnull()) & (
                df['Status'] == 'Shelved')].sum()) + ' MW) with no location')
    f.write('\n' + str(df['Unit'].loc[(df['Latitude'].isnull()) & (
        df['Status'] == 'Cancelled')].count()) + ' cancelled units (' +
            str(df['Capacity (MW)'].loc[(df['Latitude'].isnull()) & (
                df['Status'] == 'Cancelled')].sum()) + ' MW) with no location')

    f.write('\n\n' + str(df['Unit'].loc[df['Start Year'].isnull()].count()) +
            ' units (' + str(df['Capacity (MW)'].loc[df['Start Year'].isnull()]
                             .sum()) + ' MW) with no Start Year')
    f.write('\n' + str(df['Unit'].loc[(df['Start Year'].isnull(
    )) & (df['Status'] == 'Operating')].count()) + ' operating units (' + str(
        df['Capacity (MW)'].loc[(df['Start Year'].isnull()) & (
            df['Status'] == 'Operating')].sum()) + ' MW) with no Start Year')
    f.write('\n' + str(df['Unit'].loc[(df['Start Year'].isnull()) & (
        df['Status'] == 'Retired')].count()) + ' retired units (' +
            str(df['Capacity (MW)'].loc[(df['Start Year'].isnull()) & (
                df['Status'] == 'Retired')].sum()) + ' MW) with no Start Year')

    f.write('\n\n' + str(df['Unit'].loc[df['Retire Year'].isnull()].count()) +
            ' units (' + str(df['Capacity (MW)'].loc[df['Start Year'].isnull()]
                             .sum()) + ' MW) with no Retire Year')
    f.write('\n' + str(df['Unit'].loc[(df['Retire Year'].isnull(
    )) & (df['Status'] == 'Operating')].count()) + ' operating units (' + str(
        df['Capacity (MW)'].loc[(df['Retire Year'].isnull()) & (
            df['Status'] == 'Operating')].sum()) + ' MW) with no Retire Year')
    f.write('\n' + str(df['Unit'].loc[(df['Retire Year'].isnull(
    )) & (df['Status'] == 'Retired')].count()) + ' retired units (' + str(
        df['Capacity (MW)'].loc[(df['Retire Year'].isnull()) & (
            df['Status'] == 'Retired')].sum()) + ' MW) with no Retire Year')
    f.write('\n' + str(df['Unit'].loc[(df['Retire Year'].isnull()) & (
        df['Status'] == 'Retired') & (df['Country'] == 'China')].count(
        )) + ' retired units in China (' + str(
            df['Capacity (MW)'].loc[(df['Retire Year'].isnull()) &
                                    (df['Status'] == 'Retired') &
                                    (df['Country'] == 'China')].sum()) +
            ' MW) with no Retire Year')

## drop lines with missing capacity

In [809]:
# display basic info on plants with no capacity data

df[['Country','Plant','Status']][df['Capacity (MW)'].isna()]

             Country                             Plant     Status
104        Australia  SEAPED briquette and power plant  Cancelled
265         Botswana  CIC Coal to Hydrocarbons Project  Cancelled
6188  Czech Republic              Nachod power station    Retired
6225  Czech Republic          Strakonice power station  Operating
6226  Czech Republic               Tabor power station  Operating
6291        Eswatini        JSW Eswatini power station  Cancelled
6684         Hungary                Pecs power station    Retired
6685         Hungary                Pecs power station    Retired
9836     Philippines               Bohol power station  Cancelled
9880     Philippines               Leyte power station  Cancelled

In [810]:
# remove these lines from the data

df = df[df['Capacity (MW)'].notnull()]

## import phaseout plans

In [811]:
# make sure country phaseout plans are reflected in the map
# list correct as at Mar 2020
# does not include subnational, city or company commitments
# eg South Chungcheong in South Korea, which will cut lifetime of plants to 25 yrs instead of 30

# import phaseout dates

phaseouts = pd.read_excel('phaseouts.xlsx')



#phaseouts.head()


# merge into main df, matching countries with phaseout dates

df = pd.merge(df,phaseouts,left_on=['Country'],right_on=['Country'], how='left')

df['Planned Retire'].fillna(df['Year'],inplace=True)

## delete missing lat/longs and tidy up coal types

In [812]:
# delete the rows without capacity or lat/long
df = df[df['Capacity (MW)'].notnull() & df['Latitude'].notnull()]

# calculate the CO2 factor (heat rate x emission factor x capacity factor x constant)
#df['facCO2'] = df['Heat rate'] * df['Emission factor'] * df[
#    'Capacity factor'] * 3.97347E-09

# tidy up the coal types
df['Coal type'].replace('ANTH', 'Anthracite', inplace=True)
df['Coal type'].replace('HARD', 'Hard coal', inplace=True)
df['Coal type'].replace('unknown', 'Unknown', inplace=True)
df['Coal type'].replace('lignite', 'Lignite', inplace=True)
df['Coal type'].replace('Sub-bit', 'Sub-bituminous', inplace=True)
df['Coal type'].replace('WSTBituminous', 'Bituminous', inplace=True)
df['Coal type'].replace('Bituminous/WSTBituminous', 'Bituminous', inplace=True)
df['Coal type'].replace('WSTCOAL', 'Bituminous', inplace=True)
df['Coal type'].replace('unknown(CCS90)', 'Unknown', inplace=True)
df['Coal type'].replace('Unknown(CCS90)', 'Unknown', inplace=True)
df['Coal type'].replace('Bituminous(CCS90)', 'Bituminous', inplace=True)
df['Coal type'].replace('Bituminous(CCS30)', 'Bituminous', inplace=True)
df['Coal type'].replace('Sub-bit(CCS90)', 'Sub-bituminous', inplace=True)
df['Coal type'].replace('Lignite(CCS90)', 'Lignite', inplace=True)
df['Coal type'].replace('ANTH/Bituminous', 'Anthracite/Bituminous', inplace=True)
df['Coal type'].replace('ANTH/Culm', 'Anthracite', inplace=True)


# make sure status labels are correct

df['Status'].replace('Pre','Pre-permit',inplace=True)

# tidy up the combustion types
df['Combustion technology'].replace('unknown', 'Unknown', inplace=True)

# strip plant names to remove bracketed text and -1, -A, -10, ' A ', etc etc

#df['Plant'] = df['Plant'].str.replace(r'\(.*\)','')
#df['Plant'] = df['Plant'].str.replace(r' [\w] ',' ')
#df['Plant'] = df['Plant'].str.replace('-[\w][\w]','')
#df['Plant'] = df['Plant'].str.replace('-[\w]','')
#df.loc[df['Plant'].str.contains('Morupule')]

# suppress errors in the "for" loops (I didn't understand them and they didn't seem to matter)
pd.options.mode.chained_assignment = None  # default='warn'

In [813]:
df['Coal type'].unique()

array(['Bituminous', 'Lignite', 'Unknown', 'Sub-bituminous',
       'Bituminous/Sub-bit', 'Hard coal', 'Anthracite', 'Misc',
       'Anthracite/Bituminous', 'Lignite/Bituminous', 'Hard',
       'Lignite/Sub-bit', 'Bituminous/BIOMASS', 'MISC'], dtype=object)

## fix issue with plant that starts and ends with exactly the same MW
* (Boryeong in South Korea starts at 3GW, adds 1GW then closes 1GW)

In [814]:
df['Capacity (MW)'].loc[df['Unit']=='Boryeong power station Unit 8'] = df['Capacity (MW)'] + 0.05

In [815]:
# fix coords for Anadyrskaya power station

df['Longitude'] = np.where(df.Plant == 'Anadyrskaya power station',177.496925,df.Longitude)

## replace missing retire years

In [816]:
###### code to replace missing retire years with random data weighted to known data ######

# get MW-weighted distribution of China retirements

china_retire1 = df[[
    'Retire Year', 'Capacity (MW)'
]].loc[(df['Status'] == 'Retired') & (df['Country'] == 'China') &
       (df['Retire Year'] >= 2000)].groupby('Retire Year').sum()

# convert to percent

china_retire = china_retire1.iloc[:, 0:].apply(
    lambda x: x / float(x.sum()), axis=0).reset_index()

# get MW-weighted distribution of non-China retirements

retire1 = df[['Retire Year', 'Capacity (MW)'
              ]].loc[(df['Status'] == 'Retired') & (df['Country'] != 'China') &
                     (df['Retire Year'] >= 2000)].groupby('Retire Year').sum()

# convert to percent

other_retire = retire1.iloc[:, 0:].apply(
    lambda x: x / float(x.sum()), axis=0).reset_index()

# create a random array weighted by China retirements
# make the array as long as the df
# append the random array to the df as a new column

from numpy.random import choice
list_of_candidates = china_retire['Retire Year'].tolist()
probability_distribution = china_retire['Capacity (MW)'].tolist()
number_of_items_to_pick = len(df)
draw = choice(
    list_of_candidates, number_of_items_to_pick, p=probability_distribution)
df['china-retire'] = draw

df['china-retire'] = np.where(df['Status'] == 'Retired', df['china-retire'],
                              2100)

# create a random array weighted by non-China retirements
# make the array as long as the df
# append the random array to the df as a new column

from numpy.random import choice
list_of_candidates = other_retire['Retire Year'].tolist()
probability_distribution = other_retire['Capacity (MW)'].tolist()
number_of_items_to_pick = len(df)
draw1 = choice(
    list_of_candidates, number_of_items_to_pick, p=probability_distribution)
df['other-retire'] = draw1

df['other-retire'] = np.where(df['Status'] == 'Retired', df['other-retire'],
                              2100)

# create dummy retirement years depending if the country is China or not

df['dummy-retire'] = np.where(df['Country'] == 'China', df['china-retire'],
                              df['other-retire'])

#df.loc[df['Plant'].str.contains('Belchatow')].iloc[:,4:20]

In [817]:
# check data types in case of "No numeric types to aggregate" error on Groupby
# df.dtypes

In [818]:
# convert data to numeric

df['Latitude'] = df['Latitude'].apply(pd.to_numeric, errors='coerce')
df['Planned Retire'] = df['Planned Retire'].apply(pd.to_numeric, errors='coerce')
df['Tracker ID'] = df['Tracker ID'].apply(pd.to_numeric, errors='coerce')

In [819]:
# add columns for capacity-weighted heat rates and emissions factors

df['heatmw'] = df['Capacity (MW)']*df['Heat rate']
df['emissionmw'] = df['Capacity (MW)']*df['Emission factor']

# work on operating and retired plants

### select operating and retired plants

In [820]:
# select only those units that have been built ie operating now or already retired
open_closed = df.loc[(df['Status'] == 'Operating')
                     | (df['Status'] == 'Retired')
                     | (df['Status'] == 'Mothballed')]

# replace NaN Start Year with 1900, for operating and retired plants
open_closed['Start Year'].fillna(1900, inplace=True)

# some retire years have text; force to numbers
open_closed['Retire Year'] = open_closed[['Retire Year']].apply(
    pd.to_numeric, errors='coerce')

# make sure all rows have a retire year
# use dummy retire years for blank entries

open_closed['Retire Year'].fillna(open_closed['dummy-retire'], inplace=True)

# select only the columns we care about
open_closed = open_closed[[
    'Unit', 'Status', 'Plant', 'Country', 'Region', 'Start Year',
    'Retire Year', 'Planned Retire', 'Capacity (MW)', 'Combustion technology',
    'Coal type', 'Latitude', 'Longitude', 'Tracker ID',
    'Annual CO2 (million tonnes / annum)','heatmw','emissionmw'
]]
#open_closed.head()
#open_closed.loc[open_closed['Plant'].str.contains('Zouping')]

### create a listing for each unit in each year it's operating

In [821]:
# create a dataframe listing the capacity for each plant, in each year it is operating
byplant = pd.DataFrame()
byunit = pd.DataFrame()
for year in range(2000, current_year):
    operating = open_closed.loc[(open_closed['Start Year'] <= year)
                                & (open_closed['Retire Year'] > year)]
    #    operating['Year'] = year
    #    operating['Age'] = operating['Year'] - operating['Start Year']
    #    operating['Start Year'] = operating['Start Year'].astype('int' , inplace=True)


    #operating_plants['Year'] = year
    operating['Year'] = year
    #byplant = byplant.append(operating_plants)
    byunit = byunit.append(operating)

In [822]:
# double check we have numeric dtypes in columns we need for the groupby

byunit[['Plant', 'Capacity (MW)', 'Latitude', 'Tracker ID', 'Combustion technology',
    'Start Year', 'Retire Year', 'Annual CO2 (million tonnes / annum)', 'Year',
    'Planned Retire','heatmw','emissionmw']].dtypes

Plant                                   object
Capacity (MW)                          float64
Latitude                               float64
Tracker ID                             float64
Combustion technology                   object
Start Year                             float64
Retire Year                            float64
Annual CO2 (million tonnes / annum)    float64
Year                                     int64
Planned Retire                         float64
heatmw                                 float64
emissionmw                             float64
dtype: object

### group the units by plant name

In [823]:
# first pass, grouping by 'Plant'
byplant = byunit[[
    'Plant', 'Capacity (MW)', 'Latitude', 'Tracker ID', 'Combustion technology',
    'Start Year', 'Retire Year', 'Annual CO2 (million tonnes / annum)', 'Year',
    'Planned Retire','heatmw','emissionmw'
]].groupby(['Plant', 'Year']).agg({
    'Capacity (MW)': 'sum',
    'Latitude': 'mean',
    'Tracker ID': 'first',
    'Combustion technology': 'first',
    'Start Year': ['min', 'max'],
    'Retire Year': ['min', 'max'],
    'Planned Retire': 'first',
    'Annual CO2 (million tonnes / annum)': 'sum',
    'heatmw': 'sum',
    'emissionmw': 'sum'
}).reset_index()
byplant.columns = byplant.columns.get_level_values(0)

#byplant.sort_values(by=['Plant', 'Year'], inplace=True)
byplant.columns = [
    'Plant', 'Year',  'Capacity (MW)','Latitude','Tracker ID', 'Type','start1', 'start2','retire1',
    'retire2', 'Planned Retire',
      'Annual CO2 (million tonnes / annum)', 'heatmw','emissionmw'
]

#byplant.head()
#pd.options.display.float_format = '{:,.7f}'.format

#byplant.loc[byplant['Plant'].str.contains('Drax')]

#operating.head()

In [824]:
#byplant[byplant.Plant.str.contains('Drax')]

### group the units by latitude

In [825]:
# second pass, grouping by 'Latitude'


# round the latitudes before grouping to iron our random 12dp differences!

byplant['Latitude'] = byplant['Latitude'].round(8)

results = byplant.groupby(['Latitude','Year']).agg(
    {'Capacity (MW)' : 'sum',
     'Plant' : 'first',
     'Type' : ['first','last'],
    'Tracker ID' : 'first',
     'start1' : 'min',
     'start2' : 'max',
     'retire1' : 'min',
     'retire2' : 'max',
     'Planned Retire' : 'first',
    'Annual CO2 (million tonnes / annum)' : 'sum',
     'heatmw':'sum',
     'emissionmw': 'sum'
    }).reset_index()

results.columns = results.columns.get_level_values(0)

results.sort_values(by=['Plant','Year'], inplace=True)

results.columns = ['Latitude','Year','Capacity (MW)','Plant','Type1','Type2','Tracker ID','start1','start2','retire1','retire2','Planned Retire','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']

# combine the non-unique first/last plant types

results['Type'] = np.where(results['Type1'] == results['Type2'],
                             results['Type1'],
                             results['Type1'] + ' / ' + results['Type2'])
                           
# we need to retain Plant1 to use for merging the metadata later on
# but we don't need the latitude any more as we'll grab it again with metadata

results = results[['Plant','Capacity (MW)','Year','Type','Tracker ID','Annual CO2 (million tonnes / annum)','start1','start2','retire1','retire2','Planned Retire','heatmw','emissionmw']]
#results.head()

### find the units operating into the future

In [826]:
# find the units that are still operating with no plans to retire
# find the units that are operating
remaining = df.loc[(df['Status'] == 'Operating')]
# find units that have no entry against 'retire year' or 'planned retire'
remaining = remaining.loc[(remaining['Planned Retire'].isnull()) & (remaining['Retire Year'].isnull())]
# first pass, grouping by 'Plant'
remaining_byplant = remaining[
        ['Plant', 'Capacity (MW)','Latitude','Tracker ID','Combustion technology','Annual CO2 (million tonnes / annum)','Start Year','Retire Year','heatmw','emissionmw']
    ].groupby('Plant').agg(
        {'Capacity (MW)' : 'sum',
         'Latitude' : 'mean',
         'Tracker ID' : 'first',
         'Combustion technology' : 'first',
         'Start Year' : ['min','max'],
         'Retire Year' : ['min','max'], 
         'Annual CO2 (million tonnes / annum)' : 'sum',
         'heatmw': 'sum',
         'emissionmw': 'sum'
        }).reset_index()




# add a year flag
remaining_byplant['Year'] = current_year
# flatten the results
remaining_byplant.columns = remaining_byplant.columns.get_level_values(0)
remaining_byplant.columns = ['Plant','Capacity (MW)','Latitude','Tracker ID','Combustion technology','start1','start2','retire1','retire2','Annual CO2 (million tonnes / annum)','heatmw','emissionmw','Year']




#remaining_byplant.loc[remaining_byplant['Plant'].str.contains('Belchatow')]
#remaining_byplant.head()

In [827]:
# second pass, grouping by 'Latitude'

remaining_byplant['Latitude'] = remaining_byplant['Latitude'].round(8)

remaining_plants = remaining_byplant.groupby(['Latitude']).agg(
    {'Capacity (MW)' : 'sum',
     'Plant' : 'first',
     'Combustion technology' : ['first','last'],
    'Tracker ID' : 'first',
     'Year' : 'first',
     'start1' : 'min',
     'start2' : 'max',
     'retire1' : 'min',
     'retire2' : 'max', 
    'Annual CO2 (million tonnes / annum)' : 'sum',
     'heatmw':'sum',
     'emissionmw':'sum'
    }).reset_index()
remaining_plants.columns = remaining_plants.columns.get_level_values(0)

remaining_plants.columns = ['Latitude','Capacity (MW)','Plant','Type1','Type2','Tracker ID','Year','start1','start2','retire1','retire2','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']
remaining_plants.sort_values(by=['Plant','Year'], inplace=True)


remaining_plants['Type'] = np.where(remaining_plants['Type1'] == remaining_plants['Type2'],
                             remaining_plants['Type1'],
                             remaining_plants['Type1'] + ' / ' + remaining_plants['Type2'])

remaining_plants = remaining_plants[['Plant','Capacity (MW)','Year','Type','Tracker ID','Annual CO2 (million tonnes / annum)','start1','start2','retire1','retire2','heatmw','emissionmw']]

# make sure all plants have a retire year
remaining_plants['retire1'].fillna(2100, inplace=True)
remaining_plants['retire2'].fillna(2100, inplace=True)


#remaining_plants.head()
#remaining_plants.loc[remaining_plants['Plant'].str.contains('Belchatow')]

In [828]:
# append the remaining plants
results = results.append(remaining_plants,sort=False)
results.sort_values(by=['Plant','Year'], inplace=True)

In [829]:
# group by plant and capacity
# ie get one row for each capacity the plant has had, with a range of years for that capacity
grouped = results.groupby(
    ['Plant','Capacity (MW)']).agg(
    {'Year' : ['min','max'],
    'Type' : 'last',
    'Tracker ID' : 'first',
     'start1' : 'min',
     'start2' : 'max',
     'retire1' : 'min',
     'retire2' : 'max',
     'Planned Retire' : 'first',
    'Annual CO2 (million tonnes / annum)' : 'first',
     'heatmw':'first',
     'emissionmw':'first'
    }).reset_index()

# flatten the output, joining with "_"
grouped.columns = grouped.columns.get_level_values(0)

# an alternative way to flatten
# grouped.columns = ["_".join(x) for x in results.columns.ravel()]


# manually rename the columns
grouped.columns = ['Plant', 'Capacity (MW)','year1','year2','Type','Tracker ID','start1','start2','retire1', 'retire2','Planned Retire','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']

# drop the TrackerID, we don't need it
#grouped = grouped[['Plant', 'Capacity (MW)','year1','year2','Annual CO2 (million tonnes / annum)','Type','start1','start2','retire1', 'retire2','Planned Retire']]


grouped['retire3'] = np.where(grouped['Planned Retire'].notnull(),
                           current_year,
                            2100)

# sort the results
grouped.sort_values(by=['Capacity (MW)','Plant'], ascending=False, inplace=True)



# save the grouped results to a csv
# grouped.to_csv('time_series.csv', encoding='utf-8-sig')
#grouped.head()
#grouped[grouped.Plant.str.contains('Drax')]
#grouped[grouped.retire3!=2020]

In [830]:
# get metadata for each plant

metadata = open_closed[
    ['Plant',
          'Country',
          'Coal type',
          'Region',
          'Latitude',
          'Longitude',
    ]].groupby(['Plant']).agg({'Country' : 'first',
                               'Coal type' : ['first', 'last'],
                               'Region' : 'first',
                               'Latitude' : 'mean',
                               'Longitude' : 'mean',
                              }).reset_index()

# flatten the output
metadata.columns = metadata.columns.get_level_values(0)

# manually rename the columns
metadata.columns = ['Plant', 'Country','coal1','coal2', 'Region','Latitude', 'Longitude']

metadata['Coal type'] = np.where(metadata['coal1'] == metadata['coal2'],
                             metadata['coal1'],
                             metadata['coal1'] + ' / ' + metadata['coal2'])

metadata['Status'] = 'Operating'

metadata = metadata[['Plant','Country','Region','Latitude','Longitude','Coal type','Status']]
#metadata.head()

#metadata.loc[metadata['Plant'].str.contains('Belchatow')]
#metadata.loc[metadata['Type1'] != metadata['Type2']]

In [831]:
# create a combined time series with metadata attached
combined = pd.merge(grouped,metadata,left_on=['Plant'],right_on=['Plant'], how='inner')

#combined.head()
#combined.loc[combined['Plant'].str.contains('Drax')]

In [832]:
# calculate a CO2 factor to multiply with the capacity and annual capacity factors

combined['co2fac'] = combined['heatmw']/combined['Capacity (MW)']*combined['emissionmw']/combined['Capacity (MW)']*9.2427/1000000000000

combined.drop({'heatmw','emissionmw'},inplace=True,axis=1)
#combined.head()

In [833]:
# top 10 largest by MW 

combined[['Plant','Capacity (MW)','Type','start1','start2','Country']][(combined['year2'] == 2021)].head(15)

,Plant,Capacity (MW),Type,start1,start2,Country
0,Datang Tuoketuo power station,"6,720.0",Subcritical,"2,003.0","2,017.0",China
8,Taean power station,"4,400.0",IGCC,"2,001.0","2,017.0",South Korea
13,Dangjin power station,"6,040.0",Supercritical,"1,999.0","2,016.0",South Korea
19,Taichung power station,"5,500.0",Subcritical,"1,991.0","2,006.0",Taiwan
23,Belchatow,"5,030.0",Supercritical / Subcritical,"1,983.0","2,011.0",Poland
24,Waigaoqiao power station,"5,240.0",Subcritical,"1,995.0","2,008.0",China
27,Yeongheung power station,"5,080.0",Supercritical,"2,004.0","2,014.0",South Korea
30,Beilun power station,"5,060.0",Subcritical,"1,991.0","2,009.0",China
33,Jiaxing power station,"5,030.0",Subcritical,"1,995.0","2,011.0",China
37,Yangxi Zhujiang power station,"5,000.0",Ultra-super,"2,009.0","2,020.0",China
40,Guohua Taishan power station,"5,000.0",Subcritical,"2,003.0","2,011.0",China
44,Vindhyachal power station,"4,760.0",Subcritical,"1,987.0","2,015.0",India
50,Mundra Thermal Power Project (Adani),"4,620.0",Subcritical,"2,009.0","2,012.0",India
54,Zouxian power station,"4,575.0",Subcritical,"1,985.0","2,007.0",China
58,CPI Pingwei power station,"4,540.0",Subcritical,"1,989.0","2,015.0",China

In [834]:
#combined[['Plant','Capacity (MW)','Type','year1','year2','start1','start2','Country']][combined.Plant.str.contains('Beilun')]

# work on the pipeline

In [835]:
# select pipeline
pipeline = df.loc[(df['Status'] == 'Announced') | (df['Status'] == 'Construction') | (df['Status'] == 'Pre-permit') | (df['Status'] == 'Permitted')]

# select only the columns we care about
pipeline = pipeline[['Unit',
                     'Status',
                      'Plant',
                      'Country',
                      'Region',
                      'Capacity (MW)',
                      'Combustion technology',
                      'Coal type',
                      'Latitude',
                      'Longitude',
                      'Annual CO2 (million tonnes / annum)',
                     'heatmw',
                     'emissionmw'
                    ]]
#pipeline.head()

In [836]:
# group the pipeline by plant and status

pipeline_plants1 = pipeline[['Plant', 'Capacity (MW)','Status','Latitude','Combustion technology','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']].groupby(
    ['Plant','Status']).agg(
    {'Capacity (MW)' : 'sum',
     'Combustion technology' : ['first'],
     'Annual CO2 (million tonnes / annum)' : 'sum',
     'Latitude' : 'mean',
     'heatmw':'sum',
     'emissionmw':'sum'
    }).reset_index()

# flatten the output, joining with "_"
# grouped.columns = ["_".join(x) for x in results.columns.ravel()]
# an alternative way to flatten
pipeline_plants1.columns = pipeline_plants1.columns.get_level_values(0)

pipeline_plants1.columns = ['Plant','Status','Capacity (MW)','Combustion technology','Annual CO2 (million tonnes / annum)','Latitude','heatmw','emissionmw']

# sort the results
#pipeline_plants.sort_values(by=['Plant','Status'], inplace=True)

# save the grouped results to a csv
# grouped.to_csv('time_series.csv', encoding='utf-8-sig')
#pipeline_plants = pipeline_plants[['Plant','Capacity (MW)','Status']]
#pipeline_plants1.head()

#pipeline_plants1.loc[pipeline_plants1['Plant'].str.contains('Bereket')]

In [837]:
# second pass, grouping by 'Latitude'
pipeline_plants = pipeline_plants1.groupby(['Latitude','Status']).agg(
    {'Capacity (MW)' : 'sum',
     'Plant' : 'first',
     'Combustion technology' : ['first','last'],
    'Annual CO2 (million tonnes / annum)' : 'sum',
     'heatmw':'sum',
     'emissionmw':'sum'
    }).reset_index()

pipeline_plants.columns = pipeline_plants.columns.get_level_values(0)

#results.sort_values(by=['Plant','Year'], inplace=True)

pipeline_plants.columns = ['Latitude','Status','Capacity (MW)','Plant','Type1','Type2','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']

# combine the non-unique first/last plant names

pipeline_plants['Type'] = np.where(pipeline_plants['Type1'] == pipeline_plants['Type2'],
                             pipeline_plants['Type1'],
                             pipeline_plants['Type1'] + ' / ' + pipeline_plants['Type2'])
                           
pipeline_plants['Year'] = current_year -1

pipeline_plants = pipeline_plants[['Plant','Capacity (MW)','Year','Status','Type','Annual CO2 (million tonnes / annum)','heatmw','emissionmw']]
#pipeline_plants.head()
#pipeline_plants.loc[pipeline_plants['Plant'].str.contains('Patuakhali')]

In [838]:
# get metadata for the pipeline

pipe_metadata = pipeline[
    ['Plant',
          'Country',
          'Coal type',
          'Region',
          'Latitude',
          'Longitude',
    ]].groupby(['Plant']).agg({'Country' : 'first',
                                                'Coal type' : 'first',
                                                'Region' : 'first',
                                                'Latitude' : 'mean',
                                                'Longitude' : 'mean',
                                                }).reset_index()

# flatten the output
pipe_metadata.columns = pipe_metadata.columns.get_level_values(0)
# manually rename the columns
#pipe_metadata.columns = ['Plant', 'Type', 'Longitude', 'Latitude', 'Country','Region','Estimated annual CO2 (MtCO2)','start1','start2','coal_type']

#pipe_metadata.head()

In [839]:
# create a combined pipeline with metadata attached
pipe_combined = pd.merge(pipeline_plants,pipe_metadata,left_on=['Plant'],right_on=['Plant'], how='inner')

# add columns so the shape matches the operating plants data
pipe_combined['year1'] = pipe_combined['year2'] = current_year
pipe_combined['retire1'] = pipe_combined['retire2'] = 2100
pipe_combined['start1'] = pipe_combined['start2'] = 2100

# add a random offset to the lat/long
# (separate out announced vs pre-permit vs constuction etc)
# ±0.00025 is roughly ±50m
# https://urldefense.proofpoint.com/v2/url?u=https-3A__en.wikipedia.org_wiki_Decimal-5Fdegrees-255Cn&d=DwIG-g&c=-35OiAkTchMrZOngvJPOeA&r=8-uRO8MVZ_RG3ApGfbZ_IQ&m=wKLMWxgrkaZ5TNX-2_uFqyo8gG3CPKVda6F9uMESr_0qJnMUUCi-biu5OrowMdiH&s=024wMUCnmGuR9kvCYqkoXaExEKLNjv3mfL9a_fscW2o&e= pipe_combined['Latitude'] = pipe_combined['Latitude'] + np.random.uniform(-0.00025,0.00025,pipe_combined['Latitude'].shape)
pipe_combined['Longitude'] = pipe_combined['Longitude'] + np.random.uniform(-0.00025,0.00025,pipe_combined['Longitude'].shape)

#pipe_combined.head()

In [840]:
# add column for a co2 factor to multiply with capacity and capacity factor

pipe_combined['co2fac'] = pipe_combined['heatmw']/pipe_combined['Capacity (MW)']*pipe_combined['emissionmw']/pipe_combined['Capacity (MW)']*9.2427/1000000000000

pipe_combined.drop({'heatmw','emissionmw'},inplace=True,axis=1)
#pipe_combined.head()

In [841]:
# re-order the columns to match the combined operating plants data

pipe_combined = pipe_combined[['Plant',
                               'Capacity (MW)',
                               'year1',
                               'year2',
                               'Annual CO2 (million tonnes / annum)',
                               'Type',
                               'start1',
                               'start2',
                               'retire1',
                               'retire2',
                               'Country',
                               'Region',
                               'Latitude',
                               'Longitude',
                               'Coal type',
                               'Status',
                              'co2fac']]

#pipe_combined.head()

# create the final map datafile

In [855]:
# create final data for the map, including pipeline

coal_map = combined.append(pipe_combined)
coal_map.head()

coal_map['Annual CO2 (million tonnes / annum)'] = coal_map['Annual CO2 (million tonnes / annum)'].round(1)
#coal_map['Country'].replace('United States', 'US', inplace=True)
#coal_map['Country'].replace('United Kingdom', 'UK', inplace=True)



coal_map['Longitude'] = coal_map['Longitude'].round(6)
coal_map['Latitude'] = coal_map['Latitude'].round(6)

In [856]:
coal_map['retire_label1'] = coal_map['retire1']
coal_map['retire_label2'] = coal_map['retire2']


coal_map['start_label1'] = coal_map['start1']
coal_map['start_label2'] = coal_map['start2']



coal_map['retire_label1'].replace(2100, '?', inplace=True)
coal_map['retire_label2'].replace(2100, '?', inplace=True)


coal_map['start_label1'].replace(1900, '?', inplace=True)
coal_map['start_label2'].replace(1900, '?', inplace=True)

coal_map['start_label1'].replace(2100, '?', inplace=True)
coal_map['start_label2'].replace(2100, '?', inplace=True)

#coal_map['start_label1'] = coal_map['start_label1'].round(0)
#coal_map['start_label2'] = coal_map['start_label2'].round(0)


coal_map['start_label1'] = coal_map.start_label1.astype(str)
coal_map['start_label2'] = coal_map.start_label2.astype(str)
coal_map['retire_label1'] = coal_map.retire_label1.astype(str)
coal_map['retire_label2'] = coal_map.retire_label2.astype(str)


coal_map['start_label'] = np.where(coal_map['start_label1'] == coal_map['start_label2'],
                                  coal_map['start_label1'],
                                  coal_map['start_label1'] + ' - ' + coal_map['start_label2'])

coal_map['retire_label'] = np.where(coal_map['retire_label1'] == coal_map['retire_label2'],
                                  coal_map['retire_label1'],
                                 coal_map['retire_label1'] + ' - ' + coal_map['retire_label2'])

coal_map['start_label'] = coal_map['start_label'].str.replace(r'\.0','')
coal_map['retire_label'] = coal_map['retire_label'].str.replace(r'\.0','')
coal_map.drop('start_label1',inplace=True,axis=1)
coal_map.drop('start_label2',inplace=True,axis=1)
coal_map.drop('retire_label1',inplace=True,axis=1)
coal_map.drop('retire_label2',inplace=True,axis=1)

#coal_map.head()

In [857]:
region_label1 = []
for country in coal_map['Country']:
    if (country == 'China'):
        region_label1.append('China')
    elif (country == 'India'):
        region_label1.append('India')
    elif (country == 'United States'):
        region_label1.append('United States')
    elif (country == 'United Kingdom'):
        region_label1.append('EU27+UK')
    else:
        region_label1.append(np.nan)        
coal_map['region_label1'] = region_label1

#coal_map[['region_label1','Country']].head(50)

In [858]:
coal_map['Region'].replace('non-EU Europe','Non-EU Europe',inplace=True)

region_label2 = []
for region in coal_map['Region']:
    if (region == 'EU27'):
        region_label2.append('EU27+UK')
    elif ((region == 'East Asia') | (region == 'South Asia') | (region == 'SE Asia')):
        region_label2.append('Other Asia')
    elif (region == 'Eurasia'):
        region_label2.append('Former USSR')
    elif (region =='Africa and Middle East'):
        region_label2.append('Africa and Middle East')
    elif (region =='Non-EU Europe'):
        region_label2.append('Non-EU Europe')
    elif (region =='Latin America'):
        region_label2.append('Latin America')
    else:
        region_label2.append('Other')        
        
coal_map['region_label2'] = region_label2
#coal_map[['region_label2','Country']].head(50)

In [863]:
#coal_map[coal_map.Country=='Germany'].head()

In [860]:
coal_map['region_label'] = np.where((coal_map['Country'] == 'China') | (coal_map['Country'] == 'India') | (coal_map['Country'] == 'United States') | (coal_map['Country'] == 'United Kingdom'),
                             coal_map['region_label1'],
                             coal_map['region_label2'])
coal_map.drop('region_label1',inplace=True,axis=1)
coal_map.drop('region_label2',inplace=True,axis=1)
coal_map.drop('Region',inplace=True,axis=1)
coal_map.drop('Planned Retire',inplace=True,axis=1)
coal_map.drop('retire_label',inplace=True,axis=1)
coal_map.sort_values(by=['Capacity (MW)'], inplace=True,ascending=False)

#coal_map.head()

In [864]:
# correct country name "Poland " with trailing space

coal_map['Country'] = np.where(coal_map['Country']=='Poland ','Poland',coal_map['Country'])

# Country- and year-specific CO2 calculation

In [865]:
# load Ember global electricity data

name = 'Data-Global-Electricity-Review-2021'

cf = pd.read_excel(name + '.xlsx', sheet_name='Data', encoding='utf-8')

# use first row as column headers

cf.columns = cf.iloc[0]

# drop anything that doesn't relate to coal

cf = cf[cf.Variable=='Coal']

# convert TWh and GW to numeric

cf['Generation (TWh)'] = cf['Generation (TWh)'].apply(pd.to_numeric, errors='coerce')
cf['Capacity (GW)'] = cf['Capacity (GW)'].apply(pd.to_numeric, errors='coerce')
cf['Year'] = cf['Year'].apply(pd.to_numeric, errors='coerce')

# replace NaN capacity with "0"

cf['Capacity (GW)'] = np.where(cf['Capacity (GW)'].isna(),0,cf['Capacity (GW)'])

In [866]:
# calculate per-country-per-year cf

cf['cap_fac'] = cf['Generation (TWh)'].div(cf['Capacity (GW)']*24*365)*1000

# adjust down calculated capacity factors if greater than 95%

cf['cap_fac'] = np.where((cf['cap_fac']>0.95)&(cf['cap_fac']<5),0.95,cf['cap_fac'])

In [867]:
# create pivot table of capacity factors for each country in each year

capfac1 = cf[['Year','Area','cap_fac']].pivot_table(index='Area',columns='Year',values='cap_fac').reset_index()

# rename Area to County

capfac1 = capfac1.rename(columns={'Area':'Country'})

# make column headers into strings not numbers

capfac1.columns = capfac1.columns.map(str)


#capfac1.head()

In [868]:
# use 2019 value where 2020 is missing

capfac1['2020'] = np.where(capfac1['2020'].isna(),capfac1['2019'],capfac1['2020'])
capfac1['2020'] = np.where(capfac1['2020']==np.inf,capfac1['2019'],capfac1['2020'])

# add 2021 entry using 2020 value

capfac1['2021'] = capfac1['2020']

#capfac1.head()

In [869]:
# merge full list of tracker countries into capfac

# create list of unique countries from the coal map data

countries = pd.DataFrame()
countries['Country'] = coal_map.Country.unique()

# merge

capfac = pd.merge(capfac1,countries,left_on=['Country'],right_on=['Country'],how='outer',indicator=True)

#capfac.tail(50)

In [870]:
# double check that the "World" averages are in row 86

capfac.Country.iloc[86]

'World'

In [871]:
# use World average where no entry

# replace inf and zero with nan

for column in capfac.columns:
    capfac[column] = np.where(capfac[column]==np.inf,np.nan,capfac[column])
    capfac[column] = np.where(capfac[column]==0,np.nan,capfac[column])

# loop through all columns one at a time and use the World value from row 86 if NaN

for column in capfac.columns:
    capfac[column].fillna(capfac[column].iloc[86],inplace=True)


    
#capfac.head(50)

In [872]:
# merge capfac data into map file

coal_map = pd.merge(coal_map,capfac,left_on=['Country'],right_on=['Country'], how='left')

#coal_map.columns

In [873]:
# calculate the annual emissions and generation for each year

columns = ['2000','2001','2002','2003','2004','2005','2006',
           '2007','2008','2009','2010','2011','2012','2013',
           '2014','2015','2016','2017','2018','2019','2020','2021']

for column in columns:
    coal_map['co2_'+column] = (coal_map['co2fac']*coal_map[column]*coal_map['Capacity (MW)']).round(1)
    coal_map['TWh_'+column] = (coal_map[column]*coal_map['Capacity (MW)']*365*24/1000000).round(1)
    coal_map.drop({column},inplace=True,axis=1)

# drop the capacity factor estimates to save on weight for the coal map file

coal_map.drop({'Annual CO2 (million tonnes / annum)','co2fac','Tracker ID','_merge'},inplace=True,axis=1)

In [874]:
# show results

coal_map[['Plant','Country','Type','Capacity (MW)','co2_2000','co2_2010','co2_2020','TWh_2000','TWh_2010','TWh_2020']][(coal_map.Status=='Operating')&(coal_map.Country=='United Kingdom')].head()

,Plant,Country,Type,Capacity (MW),co2_2000,co2_2010,co2_2020,TWh_2000,TWh_2010,TWh_2020
32,Drax power station,United Kingdom,Subcritical,"4,206.0",15.8,15.6,3.8,14.6,14.4,3.5
92,Drax power station,United Kingdom,Subcritical,"3,505.0",13.2,13.0,3.2,12.1,12.0,2.9
169,Drax power station,United Kingdom,Subcritical,"2,804.0",10.5,10.4,2.6,9.7,9.6,2.4
269,Longannet power station,United Kingdom,Subcritical,"2,456.0",9.2,9.1,2.2,8.5,8.4,2.1
363,West Burton power station,United Kingdom,Subcritical,"2,188.0",8.2,8.1,2.0,7.6,7.5,1.8

In [875]:
#coal_map.head()

In [876]:

# save the final results to a csv
# index=False to omit the unnecessary index column
coal_map.to_csv('coal_map_2021.csv', encoding='utf-8-sig', index=False)

In [877]:
coal_map.columns

Index(['Capacity (MW)', 'Coal type', 'Country', 'Latitude', 'Longitude',
       'Plant', 'Status', 'Type', 'retire1', 'retire2', 'retire3', 'start1',
       'start2', 'year1', 'year2', 'start_label', 'region_label', 'co2_2000',
       'TWh_2000', 'co2_2001', 'TWh_2001', 'co2_2002', 'TWh_2002', 'co2_2003',
       'TWh_2003', 'co2_2004', 'TWh_2004', 'co2_2005', 'TWh_2005', 'co2_2006',
       'TWh_2006', 'co2_2007', 'TWh_2007', 'co2_2008', 'TWh_2008', 'co2_2009',
       'TWh_2009', 'co2_2010', 'TWh_2010', 'co2_2011', 'TWh_2011', 'co2_2012',
       'TWh_2012', 'co2_2013', 'TWh_2013', 'co2_2014', 'TWh_2014', 'co2_2015',
       'TWh_2015', 'co2_2016', 'TWh_2016', 'co2_2017', 'TWh_2017', 'co2_2018',
       'TWh_2018', 'co2_2019', 'TWh_2019', 'co2_2020', 'TWh_2020', 'co2_2021',
       'TWh_2021'],
      dtype='object')

# Data for the article

In [919]:
# print summary stats of the data
# use these numbers for the article intro etc
# using copy of orig data (df2) rather than version modified for the map

values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Operating')].sum().round(0)), ' MW operating']
print(*values)
values =[(df2['Capacity (MW)'].loc[(df2['Status']=='Operating')].count()), ' units operating']
print(*values)
print()
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Retired')].sum().round(0)), ' MW retired']
print(*values)
values = [(df2['Capacity (MW)'].loc[((df2['Status']=='Retired')&(df2['Retire Year']>2009))].sum()), ' MW retired since 2010']
print(*values)
values = [((df['Capacity (MW)'].loc[(
    (df['Status'] == 'Operating') |
    (df['Status'] == 'Mothballed'))].sum() - df['Capacity (MW)'].loc[(
        (df['Status'] == 'Operating') |
        (df['Status'] == 'Mothballed')) & (df['Retire Year'].isnull()) & (
            df['Planned Retire'].isnull())].sum())).round(0), ' MW expected to retire'] # need to use df not df2 here as df2 contains dummy retire years
print(*values)
print()
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Construction')].sum()), ' MW being built']
print(*values)
print()
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Announced')|(df2['Status']=='Pre-permit')|(df2['Status']=='Permitted')].sum()), ' MW planned']
print(*values)
print()
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Announced')].sum()), ' MW announced']
print(*values)
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Pre-permit')].sum()), ' MW pre']
print(*values)
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Permitted')].sum()), ' MW permitted']
print(*values)
print()
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Cancelled')].sum()), ' MW cancelled']
print(*values)
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Shelved')].sum()), ' MW shelved']
print(*values)
values = [(df2['Capacity (MW)'].loc[(df2['Status']=='Mothballed')].sum().round(0)), ' MW mothballed']
print(*values)

#df['Status'].dtypes

2059358.0  MW operating
6601  units operating

383026.0  MW retired
317487.69  MW retired since 2010
289125.0  MW expected to retire

179677.0  MW being built

323463.5  MW planned

116347.0  MW announced
117753.0  MW pre
89363.5  MW permitted

1646466.4  MW cancelled
151932.0  MW shelved
17287.0  MW mothballed

## code to spit out pipeline data
* broken down by country and type (construction, announced, etc)
* next cell calculates country shares of the pipeline
* saves pipeline table in CSV "pipeline_20XX.csv"

In [785]:
plans = df2[['Country','Capacity (MW)','Status']][(df2.Status=='Announced')|(df2.Status=='Construction')|(df2.Status=='Permitted')|(df2.Status=='Pre-permit')].groupby(['Country','Status']).agg({'Capacity (MW)':['sum']}).reset_index()
plans.columns = plans.columns.get_level_values(0)
plans = plans.pivot_table(index='Country', columns='Status', values='Capacity (MW)', aggfunc='sum').reset_index()
plans.fillna(0,inplace=True)
plans['Pipeline']=plans['Announced']+plans['Construction']+plans['Permitted']+plans['Pre-permit']

#plans.columns = ['Country','MW','Units']
plans.sort_values(by=['Pipeline'],inplace=True,ascending=False)
plans.reset_index(inplace=True)

plans['Status']=plans.index+1
#plans

In [786]:
pd.options.display.float_format = '{:,.0f}'.format
plans_share = plans[['Country','Announced','Construction','Permitted','Pre-permit','Pipeline']].iloc[:,1:].apply(lambda x: x / float(x.sum())*100, axis=0).reset_index()
plans_share.rename(columns={'index':'Status','Announced':'Announced_%','Construction':'Construction_%','Permitted':'Permitted_%','Pre-permit':'Pre-permit_%','Pipeline':'Pipeline_%'},inplace=True)
plans_share['Status'] = plans_share['Status']+1
plans_share
plans = pd.merge(plans,plans_share,left_on=['Status'],right_on=['Status'], how='inner')
plans.to_csv('Pipeline_'+str(current_year)+'.csv',index=False)
#plans

# make the map linechart (capacity by country and year)
* send the results to 'line_chart.csv'
* complete breakdown to 'country_by_MW_by_yr.csv'

In [902]:
# create a temp df to use for the analysis

temp = df2
temp['Start Year'].fillna(1900, inplace=True)
temp['Retire Year'].fillna(2100, inplace=True)

In [903]:
# calculate operating capcity in each year, by country

capacity = pd.DataFrame()
for year in range(2000,current_year):
    operating = temp.loc[(temp['Start Year'] <= year) & (temp['Retire Year'] > year) & ((temp.Status=='Operating')|(temp.Status=='Retired'))]
    operating_mw = operating[
        ['Country','Region', 'Capacity (MW)']
    ].groupby('Country').agg(
        {'Capacity (MW)' : 'sum',
         'Region' : 'first'
        }).reset_index()
    operating_mw.columns = operating_mw.columns.get_level_values(0)
    
    operating_mw['year'] = year
    capacity = capacity.append(operating_mw)
capacity.sort_values(by=['Country','year'], inplace=True)
#capacity.head()

In [904]:
# calculate operating capcity in each country, by year

yr_mw = capacity.pivot_table(index='year', columns='Country', values='Capacity (MW)', aggfunc='sum').reset_index()


# calculate a world total
yr_mw['World'] = yr_mw[yr_mw.columns].sum(axis=1)


# get data for the regions

yr_mw_regions = capacity.pivot_table(index='year', columns='Region', values='Capacity (MW)', aggfunc='sum').reset_index()

# combine countries and regions

combined = pd.merge(yr_mw,yr_mw_regions,left_on=['year'],right_on=['year'], how='inner')
combined.head()
combined.to_csv('country_by_MW_by_yr.csv',index=False)
#combined.columns.tolist()
#combined.head()

In [905]:
# define new regions

combined['EU27+UK'] = combined['EU27'] + combined['United Kingdom']
combined['Asia'] = combined['East Asia'] + combined['SE Asia'] + combined['South Asia']
combined['Other Asia'] = combined['Asia'] - combined['China'] - combined['India']
combined['Former USSR'] = combined['Eurasia'] + combined['Ukraine'] + combined['Moldova']
combined['Non-EU Europe'] = combined['non-EU Europe']- combined['Ukraine']- combined['Moldova'] - combined['United Kingdom']
combined['Other'] = combined['World'] - combined['China'] - combined['India'] - combined['Other Asia'] - combined['EU27+UK'] - combined['United States'] - combined['Eurasia'] - combined['Latin America'] - combined['Africa and Middle East'] - combined['non-EU Europe']

# get a table for the map inset chart
pd.options.display.float_format = '{:,.0f}'.format
chart = combined[['year','China','United States','India','Other Asia', 'EU27+UK','Former USSR','Non-EU Europe','Latin America','Africa and Middle East','Other']]

chart.to_csv('line_chart.csv',index=False)
chart

,year,China,United States,India,Other Asia,EU27+UK,Former USSR,Non-EU Europe,Latin America,Africa and Middle East,Other
0,2000,"199,061","333,983","63,180","85,736","195,818","82,593","14,086","10,065","42,689","13,763"
1,2001,"212,319","335,027","64,185","88,360","194,925","82,866","14,086","10,065","44,303","14,835"
2,2002,"223,002","335,428","65,225","96,865","194,499","82,866","14,086","10,065","44,303","15,880"
3,2003,"245,733","334,006","66,810","100,653","192,421","83,094","15,806","10,065","44,303","18,841"
4,2004,"275,486","334,021","67,292","105,308","191,909","83,184","15,806","10,065","44,303","18,842"
5,2005,"322,427","334,171","70,617","106,608","191,019","83,604","16,301","10,065","44,338","16,651"
6,2006,"403,932","334,474","72,905","111,847","189,668","83,904","17,316","10,065","44,338","16,652"
7,2007,"476,237","333,173","77,816","116,396","188,781","84,024","17,394","10,153","44,428","17,469"
8,2008,"529,424","333,911","83,092","118,863","188,029","84,024","17,394","10,153","44,428","17,470"
9,2009,"579,727","334,956","88,583","124,468","188,666","84,774","17,766","10,305","44,428","17,937"
10,2010,"633,931","338,382","99,774","127,595","188,652","84,837","19,032","11,816","44,488","15,129"
11,2011,"691,558","339,335","114,752","134,392","186,238","85,087","19,632","12,767","44,638","16,584"
12,2012,"739,927","332,925","132,811","139,284","181,232","85,636","19,632","14,069","44,638","17,746"
13,2013,"788,668","327,937","151,032","144,858","173,676","85,742","19,820","15,470","44,938","18,588"
14,2014,"818,958","323,430","171,488","151,209","167,729","86,968","21,416","15,635","45,938","19,123"
15,2015,"877,946","301,757","191,108","161,240","164,236","86,788","22,556","16,180","46,763","18,990"
16,2016,"921,816","285,989","209,293","172,137","155,462","87,555","24,706","17,161","47,063","23,548"
17,2017,"953,652","277,118","214,801","184,879","150,206","87,660","26,026","16,715","49,003","21,949"
18,2018,"976,329","261,227","221,172","191,014","145,776","87,630","26,356","17,329","51,244","24,118"
19,2019,"1,018,048","244,924","229,012","203,598","138,802","86,125","26,906","18,100","52,833","26,687"
20,2020,"1,047,810","233,621","229,682","207,924","128,096","85,366","26,906","18,228","53,628","29,632"

## calculate unit/MW additions and retirements
* overall plus breakdown for China, India, US, EU
* use this for graph showing net change in MW and units
* send results to csv 'net_change.csv'

In [907]:
newunits = pd.DataFrame()
for year in range(2000,current_year):
    new = df2.loc[(df2['Start Year'] == year)&((df2['Status']=='Operating')|(df2['Status']=='Retired')|(df2['Status']=='Mothballed'))]
    #old = df2.loc[(df2['Start Year'] <= year) & (open_closed['Retire Year'] == year)]
    new['year']=year
    #old['year']=year
    newunits = newunits.append(new)
    #units = units.append(old)
newunits = newunits[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()

oldunits = pd.DataFrame()
for year in range(2000,current_year):
    #new = df2.loc[(df2['Start Year'] == year) & (open_closed['Retire Year'] > year)]
    old = df2.loc[(df2['Retire Year'] == year)&(df2['Status']=='Retired')]
    #new['year']=year
    old['year']=year
    oldunits = oldunits.append(old)
    #units = units.append(old)
oldunits = oldunits[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()




newoldunits = pd.merge(newunits,oldunits,left_on=['year'],right_on=['year'], how='outer')


newoldunits.columns = newoldunits.columns.get_level_values(0)


newchina = pd.DataFrame()
for year in range(2000,current_year):
    new = df2.loc[(df2['Country'] == 'China')&(df2['Start Year'] == year)&((df2['Status']=='Operating')|(df2['Status']=='Retired')|(df2['Status']=='Mothballed'))]
    #old = df2.loc[(df2['Start Year'] <= year) & (open_closed['Retire Year'] == year)]
    new['year']=year
    #old['year']=year
    newchina = newchina.append(new)
    #units = units.append(old)
newchina = newchina[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()
newchina.columns = newchina.columns.get_level_values(0)

newindia = pd.DataFrame()
for year in range(2000,current_year):
    new = df2.loc[(df2['Country'] == 'India')&(df2['Start Year'] == year)&((df2['Status']=='Operating')|(df2['Status']=='Retired')|(df2['Status']=='Mothballed'))]
    #old = df2.loc[(df2['Start Year'] <= year) & (open_closed['Retire Year'] == year)]
    new['year']=year
    #old['year']=year
    newindia = newindia.append(new)
    #units = units.append(old)
newindia = newindia[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()
newindia.columns = newindia.columns.get_level_values(0)

oldus = pd.DataFrame()
for year in range(2000,current_year):
    #new = df2.loc[(df2['Start Year'] == year) & (open_closed['Retire Year'] > year)]
    old = df2.loc[(df2['Retire Year'] == year)&(df2['Status']=='Retired')&(df2['Country']=='United States')]
    #new['year']=year
    old['year']=year
    oldus = oldus.append(old)
    #units = units.append(old)
oldus = oldus[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()
oldus.columns = oldus.columns.get_level_values(0)


oldeu = pd.DataFrame()
for year in range(2000,current_year):
    #new = df2.loc[(df2['Start Year'] == year) & (open_closed['Retire Year'] > year)]
    old = df2.loc[(df2['Retire Year'] == year)&(df2['Status']=='Retired')&((df2['Region']=='EU27')|(df2['Country']=='United Kingdom'))]
    #new['year']=year
    old['year']=year
    oldeu = oldeu.append(old)
    #units = units.append(old)
oldeu = oldeu[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()
oldeu.columns = oldeu.columns.get_level_values(0)

oldchina = pd.DataFrame()
for year in range(2000,current_year):
    #new = df2.loc[(df2['Start Year'] == year) & (open_closed['Retire Year'] > year)]
    old = df2.loc[(df2['Retire Year'] == year)&(df2['Status']=='Retired')&(df2['Country']=='China')]
    #new['year']=year
    old['year']=year
    oldchina = oldchina.append(old)
    #units = units.append(old)
oldchina = oldchina[['Capacity (MW)','year']].groupby('year').agg({'Capacity (MW)':['sum','count']}).reset_index()
oldchina.columns = oldchina.columns.get_level_values(0)


newoldunits = pd.merge(newoldunits,newchina,left_on=['year'],right_on=['year'], how='left')
newoldunits = pd.merge(newoldunits,newindia,left_on=['year'],right_on=['year'], how='left')
newoldunits = pd.merge(newoldunits,oldus,left_on=['year'],right_on=['year'], how='left')
newoldunits = pd.merge(newoldunits,oldeu,left_on=['year'],right_on=['year'], how='left')
newoldunits = pd.merge(newoldunits,oldchina,left_on=['year'],right_on=['year'], how='left')

newoldunits.columns = ['year','new MW','new units','retire MW','retire units','new China MW','new China','new India MW','new India','retire US MW','retire US','retire EU MW','retire EU','retire China MW','retire China']
newoldunits.fillna(0,inplace=True)

newoldunits['net GW'] = (newoldunits['new MW'] - newoldunits['retire MW'])/1000.
newoldunits['net units'] = newoldunits['new units'] - newoldunits['retire units']

newoldunits['other new MW'] = newoldunits['new MW'] - newoldunits['new China MW'] - newoldunits['new India MW']
newoldunits['other retire MW'] = newoldunits['retire MW'] - newoldunits['retire US MW'] - newoldunits['retire EU MW'] - newoldunits['retire China MW']
newoldunits['other retire GW'] = - newoldunits['other retire MW']/1000.
newoldunits['retire US GW'] = - newoldunits['retire US MW']/1000.
newoldunits['retire EU GW'] = - newoldunits['retire EU MW']/1000.
newoldunits['retire China GW'] = - newoldunits['retire China MW']/1000.
newoldunits['new China GW'] = newoldunits['new China MW']/1000.
newoldunits['new India GW'] = newoldunits['new India MW']/1000.
newoldunits['other new GW'] = newoldunits['other new MW']/1000.


newoldunits['other new'] = newoldunits['new units'] - newoldunits['new China'] - newoldunits['new India']
newoldunits['other retire'] = newoldunits['retire units'] - newoldunits['retire US'] - newoldunits['retire EU'] - newoldunits['retire China']
newoldunits['other retire'] = - newoldunits['other retire']
newoldunits['retire US'] = - newoldunits['retire US']
newoldunits['retire EU'] = - newoldunits['retire EU']
newoldunits['retire China'] = - newoldunits['retire China']


newoldunits = newoldunits[['year',
                           'new China GW','new India GW','other new GW',
                           'retire US GW','retire EU GW','retire China GW','other retire GW',
                           'net GW',
                           'year',
                           'new China','new India','other new',
                           'retire US','retire EU','retire China','other retire',
                           'net units']]

newoldunits.columns = ['year',
                           'China','India','Other',
                           'US','EU+UK','China','Other',
                           'Net change',
                       'year',
                           'China','India','Other',
                           'US','EU','China','Other',
                           'Net change']

newoldunits.to_csv('net_change.csv',index=False)
#newoldunits.sort_values(by='Other1')
newoldunits

,year,China,India,Other,US,EU+UK,China,Other,Net change,year,China,India,Other,US,EU,China,Other,Net change
0,2000,17,2,16,-0,-3,-0,-1,31,2000,68,9,49,-1,-23,-3,-10,89
1,2001,13,1,7,-0,-1,-0,-1,20,2001,59,6,18,-1,-7,-2,-3,70
2,2002,11,2,11,-1,-2,-0,-1,20,2002,53,7,25,-14,-15,-7,-10,39
3,2003,23,2,7,-2,-3,-0,-0,27,2003,126,7,24,-10,-12,-0,-5,130
4,2004,30,0,6,-1,-1,-0,-1,34,2004,143,3,22,-7,-7,-6,-5,143
5,2005,47,3,4,-0,-1,-0,-3,50,2005,196,15,15,-2,-10,-1,-12,201
6,2006,82,2,7,-0,-1,-1,-0,89,2006,260,17,27,-4,-9,-13,-1,277
7,2007,82,5,8,-3,-1,-10,-1,81,2007,219,26,26,-13,-6,-126,-12,114
8,2008,63,5,5,-1,-1,-10,-0,61,2008,195,30,21,-11,-13,-100,-1,121
9,2009,61,6,11,-2,-1,-10,-0,65,2009,152,28,36,-21,-7,-98,-3,87
10,2010,64,12,14,-2,-1,-10,-4,72,2010,171,47,38,-22,-14,-78,-26,116
11,2011,62,15,15,-3,-4,-4,-1,79,2011,150,60,51,-34,-23,-36,-4,164
12,2012,52,18,15,-10,-8,-4,-2,61,2012,139,62,39,-69,-50,-29,-12,80
13,2013,52,18,12,-7,-9,-3,-4,59,2013,131,69,43,-45,-38,-26,-16,118
14,2014,39,21,13,-5,-7,-9,-2,50,2014,97,51,55,-36,-28,-78,-17,44
15,2015,65,20,20,-22,-8,-6,-2,67,2015,135,46,67,-122,-43,-41,-15,27
16,2016,49,19,18,-16,-11,-6,-2,52,2016,121,38,63,-86,-34,-56,-18,28
17,2017,40,9,19,-9,-6,-8,-8,37,2017,105,25,53,-32,-26,-51,-66,8
18,2018,33,8,10,-16,-5,-11,-3,17,2018,79,15,40,-42,-13,-88,-23,-32
19,2019,49,9,19,-16,-9,-7,-4,40,2019,107,16,56,-59,-30,-56,-34,0
20,2020,38,2,10,-11,-13,-9,-4,13,2020,73,4,22,-39,-48,-54,-24,-66

# how many countries have coal plants

In [797]:
# how many countries have coal plants

values =[(df2['Country'].loc[(df2['Status']=='Operating')].nunique()), ' operating']
print(*values)

values =[(df2['Country'].loc[(df2['Status']=='Operating')|(df2['Status']=='Construction')|(df2['Status']=='Permitted')|(df2['Status']=='Pre-permit')|(df2['Status']=='Announced')|((df2['Retire Year']>=2000)&(df2['Status']=='Retired'))].nunique()), ' retired since 2000 or operating or planned']
print(*values)

values =[(df2['Country'].loc[(df2['Status']=='Operating')|((df2['Retire Year']>=2000)&(df2['Status']=='Retired'))].nunique()), ' retired since 2000 or operating']
print(*values)

values =[(df2['Country'].loc[(df2['Status']=='Construction')|(df2['Status']=='Permitted')|(df['Status']=='Pre-permit')|(df2['Status']=='Announced')].nunique()), ' planned']
print(*values)

values =[(df2['Country'].loc[(df2['Status']=='Construction')].nunique()), ' being built']
print(*values)

80  operating
93  retired since 2000 or operating or planned
83  retired since 2000 or operating
41  planned
21  being built

In [798]:
values = [(capacity['Country'].loc[capacity['year']==2000].nunique()), ' countries operating coal in 2000']
print(*values)
values =[(capacity['Country'].loc[capacity['year']==2020].nunique()), ' countries operating coal in 2020']
print(*values)
#capacity.loc[(capacity['year']==2017)&(capacity['Capacity (MW)']==0)]

69  countries operating coal in 2000
80  countries operating coal in 2020

## get numbers for the "future" map

In [920]:
still = df[['Country','Region','Capacity (MW)']].loc[(df['Status']=='Operating')&(df['Retire Year'].isnull())&(df['Planned Retire'].isnull())]
still1 = still.groupby(['Region']).sum().reset_index()
still2 = still.groupby(['Country']).sum().reset_index()
still2.columns = ['Region','Capacity (MW)']
still3 = still1.append(still2)
still3.columns = ['Region','Still operating (MW)']
still3

built = df[['Country','Region','Capacity (MW)']].loc[(df['Status']=='Construction')]
built1 = built.groupby(['Region']).sum().reset_index()
built2 = built.groupby(['Country']).sum().reset_index()
built2.columns = ['Region','Capacity (MW)']
built3 = built1.append(built2)
built3.columns = ['Region','Being built (MW)']
built3

planned = df[['Country','Region','Capacity (MW)']].loc[(df['Status']=='Announced')|(df['Status']=='Pre-permit')|(df['Status']=='Permitted')]
planned1 = planned.groupby(['Region']).sum().reset_index()
planned2 = planned.groupby(['Country']).sum().reset_index()
planned2.columns = ['Region','Capacity (MW)']
planned3 = planned1.append(planned2)
planned3.columns = ['Region','Planned (MW)']
planned3

future1 = pd.merge(still3,built3,left_on=['Region'],right_on=['Region'], how='left')
future = pd.merge(future1,planned3,left_on=['Region'],right_on=['Region'], how='left')
future.fillna(0,inplace=True)
future.to_csv('future.csv',index=False)
future.head()

,Region,Still operating (MW),Being built (MW),Planned (MW)
0,Africa and Middle East,"35,951","7,344","13,110"
1,Australia/NZ,"5,053",0,"3,000"
2,Canada/US,"141,106",0,0
3,EU27,"36,262","1,220",570
4,East Asia,"1,134,074","102,908","167,864"